body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
  color: #3f3f3f;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  margin-left: -261px;
}

.App-intro {
  font-size: large;
}

  .tile_div button {
    display: block;
    float: left;
    height: 50px;
    width: 100px;
    margin-right: 5px;
    margin-top: 30px;
    text-align: center;
    line-height: 4px;
    text-decoration: none;
}

.title_div a.last {
    margin-right: 0;
}

.clear {
    clear: both;
}

.question{
    margin-left: 261px;
}
